.Box[data-width="auto"] {
  width: min(100%, calc(100% - var(--gutter-content) * 2));
  box-sizing: border-box;
}

.Box[data-width="wide"] {
  width: min(var(--width-wide), calc(100% - var(--gutter-content) * 2));
  box-sizing: border-box;
}

.Box[data-width="narrow"] {
  width: min(var(--width-narrow), calc(100% - var(--gutter-content) * 2));
  box-sizing: border-box;
}
