@use "../../styles/mixins/shadow" as shadow;

.Card {
  border-radius: var(--card-radius);
  background: var(--color-surface);
}

.Card[data-elevation="0"] {
  --card-radius: var(--radius);
  @include shadow.boxShadow(0.5);
}

.Card[data-elevation="1"] {
  --card-radius: calc(var(--radius) * 1.25);
  @include shadow.boxShadow(1.25);
}

.Card[data-elevation="2"] {
  --card-radius: calc(var(--radius) * 1.5);
  @include shadow.boxShadow(2);
}
