@use "../../styles/mixins/color" as color;
@use "../../styles/mixins/shadow" as shadow;

.Nav {
  --nav-link-gap: var(--space);
  --nav-link-height: 32px;
  --nav-width: 200px;
  --nav-closed-width: var(--nav-link-height);

  position: relative;
  width: var(--nav-closed-width);
  min-width: var(--nav-closed-width);
  background: var(--color-surface-0);
  padding: var(--space);
  font-size: 0.95em;
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  transition:
    width 180ms ease-out,
    min-width 180ms ease-out;

  @include shadow.dropShadow(2, 0.5);
}

.Nav[data-open] {
  width: var(--nav-width);
  min-width: var(--nav-width);
}

.Content,
.ItemContent {
  gap: var(--nav-link-gap);
}

.Content,
.Footer {
  overflow: hidden;
}

.CollapseButton {
  position: absolute;
  z-index: 1;

  right: 0;
  transform: translateX(50%);

  --icon-bg: var(--color-surface-0);
  --icon-active-bg: var(--color-surface-1);
  border: 1px solid var(--color-divider);

  opacity: 0;
  transition:
    opacity 120ms ease-out,
    transform 180ms ease-out;
}

.Nav:not([data-open]) > .CollapseButton {
  transform: translateX(50%) rotate(180deg);
}

.Nav:hover > .CollapseButton {
  opacity: 1;
}

.Item {
  width: 100%;
  gap: var(--nav-link-gap);
}

.Item > .Link,
.Item > .ItemTitle {
  --nav-link-active-color: var(--color-highlight);
  --nav-link-active-bg: var(--color-surface-1);

  border-radius: var(--radius);
  min-height: var(--nav-link-height);
  border-radius: var(--radius);
  position: relative;
}

@each $name, $_ in color.$colors-codes {
  @if ($name != "default") {
    .Item > .Link[data-color="#{$name}"] {
      --nav-link-active-color: var(#{"--color-" + $name});
      --nav-link-active-bg: color-mix(
        in srgb,
        var(#{"--bg-" + $name}) 33.333%,
        transparent
      );
    }
  }
}

.Item > .Link > a,
.Item > .ItemTitle > [data-direction="row"] {
  display: inline-flex;
  flex: 1;
  min-width: 0;
  height: 100%;
  align-items: center;
  gap: var(--space);
  box-sizing: border-box;
  padding: var(--space);
  text-decoration: none;
  color: currentColor;
  overflow: hidden;
  white-space: nowrap;
}

.LinkIcon {
  margin-left: 2px;
  transition:
    width 180ms ease-out,
    height 180ms ease-out,
    font-size 180ms ease-out,
    line-height 180ms ease-out;
}

.LinkText {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LinkBadge {
  flex: 0 0 auto;
  overflow: hidden;
}

.Nav:not([data-open]) .Item > .Link > button,
.Nav:not([data-open]) .Item > .ItemTitle > button {
  position: absolute;
  inset-inline-end: 0;
  opacity: 0;
  pointer-events: none;
}

.ItemContent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(calc(var(--nav-link-gap) * -1));
  transition:
    max-height 180ms ease-out,
    opacity 120ms ease-out,
    transform 180ms ease-out;
}

.Item[data-open] > .ItemContent {
  max-height: 100vh;
  opacity: 1;
  transform: translateY(0);
}

.Link:focus {
  background: var(--color-surface-1);
  color: var(--color-highlight);
}

.Link:hover,
.Link:active {
  background: var(--nav-link-active-bg);
  color: var(--nav-link-active-color);
}
