@use "../../styles/mixins/color" as color;
@use "../../styles/mixins/shadow" as shadow;

.Nav {
  --nav-link-gap: var(--space);
  --nav-link-height: 32px;
  --nav-width: 200px;
  --nav-closed-width: var(--nav-link-height);

  display: flex;
  flex-direction: column;
  gap: var(--space);
  position: relative;
  width: var(--nav-closed-width);
  min-width: var(--nav-closed-width);
  background: var(--color-surface-0);
  padding: var(--space);
  font-size: 0.95em;
  font-family: var(--font-sans-serif);
  color: var(--color-text);

  @include shadow.dropShadow(2, 0.5);
}

.Nav[data-collapsible] {
  transition:
    width 180ms ease-out,
    min-width 180ms ease-out;
}

.Nav[data-open] {
  width: var(--nav-width);
  min-width: var(--nav-width);
}

.ItemContent {
  gap: var(--nav-link-gap);
}

.CollapseButton {
  position: absolute;
  z-index: 1;

  right: 0;
  transform: translateX(50%);

  --icon-bg: var(--color-surface-0);
  --icon-active-bg: var(--color-surface-1);
  border: 1px solid var(--color-divider);

  opacity: 0;

  transition: opacity 120ms ease-out;
  svg {
    transition: transform 180ms ease-out;
  }
}

.Nav:not([data-open]) > .CollapseButton svg {
  transform: rotate(180deg);
}

.Nav:hover > .CollapseButton,
.Nav > .CollapseButton:hover {
  opacity: 1;
}

.Item {
  width: 100%;
  gap: var(--nav-link-gap);
}

.Item > .ItemTitle {
  --nav-link-active-color: var(--color-highlight);
  --nav-link-active-bg: var(--color-surface-1);

  border-radius: var(--radius);
  min-height: var(--nav-link-height);
  position: relative;
}

@each $name, $_ in color.$colors-codes {
  @if ($name != "default") {
    .Item > .ItemTitle[data-color="#{$name}"] {
      --nav-link-active-color: var(#{"--color-" + $name});
      --nav-link-active-bg: color-mix(
        in srgb,
        var(#{"--bg-" + $name}) 33.333%,
        transparent
      );
    }
  }
}

.Item > .ItemTitle > :is(a, button, [data-direction="row"]) {
  display: inline-flex;
  flex: 1;
  min-width: 0;
  height: 100%;
  align-items: center;
  gap: var(--space);
  box-sizing: border-box;
  padding: var(--space);
  border-radius: inherit;
  text-decoration: none;
  color: currentColor;
  overflow: hidden;
  white-space: nowrap;
}

.Item > .ItemTitle > :is(a, button) {
  appearance: none;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

.Item > .ItemTitle:has(> :is(a, button):focus-visible) {
  background: var(--color-surface-1);
  color: var(--color-highlight);
}

.Item[data-active] > .ItemTitle,
.Item > .ItemTitle:has(:is(input, textarea, select):focus),
.Item > .ItemTitle:has(> :is(a, button)):hover,
.Item > .ItemTitle:has(> :is(a, button):active) {
  background: var(--nav-link-active-bg);
  color: var(--nav-link-active-color);
}

.Item > .ItemTitle > :is(a, button):focus-visible {
  outline: none;
}

.ItemIcon {
  margin-left: 2px;
  transition:
    width 180ms ease-out,
    height 180ms ease-out,
    font-size 180ms ease-out,
    line-height 180ms ease-out;
}

.ItemText {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemBadge {
  flex: 0 0 auto;
  overflow: hidden;
}

.Nav:not([data-open]) .ItemToggle {
  position: absolute;
  inset-inline-end: 0;
  opacity: 0;
  pointer-events: none;
}

.ItemToggle > button > svg {
  transition: transform 180ms ease-out;
}

.Item[data-open] > .ItemTitle .ItemToggle > button > svg {
  transform: rotate(180deg);
}

.ItemContent {
  position: relative;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(calc(var(--nav-link-gap) * -1));
  transition:
    max-height 180ms ease-out,
    margin 180ms ease-out,
    opacity 120ms ease-out,
    transform 180ms ease-out;
}

.Nav[data-open] .ItemContent {
  padding-left: calc(var(--space) * 2);
}

.ItemContent::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: var(--space);
  width: var(--size-divider);
  border-radius: var(--radius-divider);
  background: var(--color-divider);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 180ms ease-out;
}

.Nav[data-open] .Item[data-open] > .ItemContent::before {
  transform: scaleY(1);
}

.Item[data-open] > .ItemContent {
  margin-top: var(--space);
  display: block;
  max-height: 100vh;
  opacity: 1;
  transform: translateY(0);
}
