:root {
  --resizable-hit-area: 20px;
  --resizable-edge-size: 10px;
  --resizable-frame-length: calc(100% - var(--resizable-hit-area) * 2);
}

$padding-cross-axis: calc(
  (var(--resizable-hit-area) - var(--size-divider)) / 2
);
$padding-main-axis: calc((100% - var(--resizable-frame-length)) / 2);

.Resizable {
  --frame-side-edge-size: var(--resizable-edge-size);
  position: relative;
}

.Handle {
  opacity: 0;
  transition: opacity 180ms ease-out;

  &:hover {
    opacity: 1;
  }

  [data-direction]:hover {
    filter: brightness(1);
  }
}

.Frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.Handle {
  position: absolute;
  pointer-events: auto;
}

/// resizing

.Resizable[data-resizing] {
  z-index: 1;
  outline: 2px solid var(--bg-highlight);
  outline-offset: 2px;
}

/// cursors

.Handle:has([data-direction="x"]) {
  cursor: ns-resize;
  box-sizing: border-box;
  width: 100%;
  padding-inline: $padding-main-axis;
  padding-block: $padding-cross-axis;
}

.Handle:has([data-direction="y"]) {
  cursor: ew-resize;
  box-sizing: border-box;
  height: 100%;
  padding-block: $padding-main-axis;
  padding-inline: $padding-cross-axis;

  [data-direction="y"] {
    height: 100%;
  }
}

.Handle:has([data-direction="both"]) {
  padding: $padding-cross-axis;
  height: var(--resizable-edge-size);
  width: var(--resizable-edge-size);
  box-sizing: content-box;
}

.Handle:has([data-side="top-left"]),
.Handle:has([data-side="bottom-right"]) {
  cursor: nwse-resize;
}

.Handle:has([data-side="top-right"]),
.Handle:has([data-side="bottom-left"]) {
  cursor: nesw-resize;
}

/// edge rotations

.Handle:has([data-side="bottom-left"]) {
  transform: rotate(90deg);
}

.Handle:has([data-side="top-left"]) {
  transform: rotate(180deg);
}

.Handle:has([data-side="top-right"]) {
  transform: rotate(270deg);
}

/// positions

.Handle:has([data-side^="bottom"]) {
  bottom: 0;
}

.Handle:has([data-side$="right"]) {
  right: 0;
}

.Handle:has([data-direction="x"]) {
  left: 50%;
  transform: translateX(-50%);
}

.Handle:has([data-direction="y"]) {
  top: 50%;
  transform: translateY(-50%);
}
