.Root {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.Root[data-variant="unstyled"] {
  width: auto;
}

.Root[data-variant="default"] {
  border: 1px solid var(--color-divider);
  border-radius: calc(var(--radius) * 1.5);
  background: var(--color-surface-0);
}

.Root[data-variant="default"] th,
.Root[data-variant="default"] td {
  box-sizing: border-box;
  padding: var(--space);
  border-bottom: 1px solid var(--color-divider);
  text-align: left;
  vertical-align: middle;
}

.Root[data-variant="default"] th {
  font-weight: unset;
}

.Root[data-variant="default"] .ColHeader {
  background: var(--color-surface-2);
  white-space: nowrap;
}

.Root[data-variant="default"] .ColHeader th:first-child,
.Root[data-variant="default"] tbody tr td:first-child {
  padding-left: calc(var(--space) * 2);
}

.Root[data-variant="default"] tbody tr:last-child td {
  border-bottom: 0;
}

.Root[data-variant="default"]:not([data-empty]) tbody tr:hover td {
  background: var(--bg-highlight);
}

.Root[data-variant="default"] thead > tr:first-child > *:first-child {
  overflow: hidden;
  border-top-left-radius: var(--radius);
}
.Root[data-variant="default"] thead > tr:first-child > *:last-child {
  overflow: hidden;
  border-top-right-radius: var(--radius);
}

.Root[data-variant="default"] tfoot > tr:last-child > *:first-child {
  overflow: hidden;
  border-bottom-left-radius: var(--radius);
}

.Root[data-variant="default"] tfoot > tr:last-child > *:last-child {
  overflow: hidden;
  border-bottom-right-radius: var(--radius);
}

.Root[data-variant="default"] tfoot > tr:first-child > * {
  border-top: 1px solid var(--color-divider);
}
.Root[data-variant="default"] tfoot > tr:last-child > * {
  border-bottom: none;
}

.Root th[data-index],
.Root td[data-index] {
  width: 0;
}

.Root thead > * {
  width: 100%;
}
