.Checkbox {
  display: inline-flex;
  align-items: center;
  gap: var(--space);
  color: var(--color-text);

  &:has(.Root:disabled) {
    color: var(--color-disabled);
    cursor: not-allowed;
  }
}

.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  width: calc(var(--space) * 3 + var(--size-divider));
  height: calc(var(--space) * 3 + var(--size-divider));
  padding: 0;
  border: var(--size-divider) solid var(--color-divider);
  border-radius: calc(var(--radius) / 2);
  background: var(--color-suface);
  color: var(--color-text);
  cursor: pointer;

  &:not(:disabled):hover {
    border-color: var(--color-primary);
    background: color-mix(
      in srgb,
      var(--color-suface) 90%,
      var(--color-primary)
    );
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--color-primary);
    outline: var(--size-divider) solid
      color-mix(in srgb, var(--color-primary) 40%, transparent);
    outline-offset: var(--size-divider);
  }

  &[data-state="checked"] {
    border-color: var(--color-primary);
    background: var(--color-primary);
    color: var(--bg-primary);
  }

  &[data-state="checked"]:not(:disabled):hover {
    border-color: color-mix(
      in srgb,
      var(--color-primary) 90%,
      var(--bg-primary)
    );
    background: color-mix(in srgb, var(--color-primary) 90%, var(--bg-primary));
  }

  &:disabled {
    border-color: var(--color-divider);
    background: var(--color-suface);
    color: var(--color-disabled);
    cursor: not-allowed;
  }

  &[data-state="checked"]:disabled {
    border-color: var(--color-disabled);
    background: var(--color-disabled);
    color: var(--color-suface);
  }
}

.Indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--space) * 2 + var(--size-divider));
  height: calc(var(--space) * 2 + var(--size-divider));
  line-height: 0;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: var(--size-divider);
  }
}

.Label {
  color: currentColor;
}
