.Checkbox {
  &:has(.Root:disabled) {
    color: var(--color-disabled);
    cursor: not-allowed;
  }
}

.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 18px;
  aspect-ratio: 1;
  border: 1px solid color-mix(in srgb, var(--color-divider) 75%, transparent);
  border-radius: calc(var(--radius) / 2);
  background: var(--color-surface);
  cursor: pointer;
  transition: all 140ms ease-out;
  color: var(--bg-primary);
  --checkbox-border: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-divider)
  );

  &:not(:disabled):hover {
    border-color: var(--checkbox-border);
  }

  &:focus {
    outline: 1px solid var(--checkbox-border);
  }

  &[data-state="checked"] {
    border-color: var(--color-primary);
    background: var(--color-primary);
  }

  &[data-state="checked"]:not(:disabled):hover {
    background: color-mix(in srgb, var(--color-primary) 75%, var(--bg-primary));
  }

  &:disabled {
    color: var(--color-surface);
    border-color: color-mix(in srgb, var(--color-divider) 75%, transparent);
    background: var(--color-surface);
    cursor: not-allowed;
  }

  &[data-state="checked"]:disabled {
    border-color: var(--color-disabled);
    background: var(--color-disabled);
  }
}

.Indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 150ms ease-out;

  .Root[data-state="checked"] & {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Root,
  .Indicator,
  .Indicator svg path {
    transition: none;
  }
}
