.FileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  box-sizing: border-box;
  width: auto;
  padding: calc(var(--space) * 3);
  border: 2px dashed var(--color-divider);
  border-radius: var(--radius);
  background: var(--color-surface-0);
  cursor: pointer;
}

.FileUpload:not([data-disabled]):hover,
.FileUpload[data-dragging] {
  border-color: var(--color-highlight);
}

.FileUpload[data-disabled] {
  color: var(--color-disabled);
  background: var(--color-surface-1);
  cursor: not-allowed;
}

.Input {
  display: none;
}

.FileUpload[data-size="m"] {
  flex-direction: row;
  justify-content: flex-start;
  height: var(--line-height);
  padding: var(--space) calc(var(--space) * 2);
  border-style: dashed;
  box-sizing: content-box;
}

.OverlayWrapper {
  position: relative;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: calc(var(--space) * 4);
  z-index: 2;
}

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: #ffffff80;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.Overlay > .Field {
  opacity: 1;
  transition: opacity 150ms linear;
  z-index: 1;
}
.OverlayWrapper[data-dragging] .Field {
  opacity: 1;
}

.Overlay > .Field {
  height: 100%;
}
.Overlay > .Field > .FileUpload {
  background-color: transparent;
}

.OverlayWrapper > .Overlay {
  pointer-events: none;
  opacity: 0;
}

.OverlayWrapper[data-dragging] > .Overlay {
  pointer-events: all;
  opacity: 1;
}
