@use "../../styles/mixins/shadow" as shadow;

.Icon {
  transition:
    color 150ms ease-out,
    transform 150ms ease-out;
}

.Content {
  z-index: 1000;
  overflow-y: auto;
  min-width: var(--radix-popper-anchor-width);
  max-height: min(var(--radix-popper-available-height), 320px);
  transform-origin: var(--radix-popper-transform-origin);
  border: 1px solid var(--color-divider);
  border-radius: var(--radius);
  background: var(--color-surface-0);
  @include shadow.boxShadow(3);

  &[data-state="open"] {
    opacity: 1;
    transform: scale(1);
    animation: dropdown-content-show 180ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    animation: dropdown-content-hide 120ms ease-in;
  }
}

.Viewport {
  padding: var(--space);
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.Item {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space);
  border-radius: calc(var(--radius) / 2);
  cursor: pointer;
  user-select: none;
  transition:
    outline 80ms ease-out,
    background 150ms ease-out,
    color 150ms ease-out;
  outline: 0 solid transparent;

  &:hover {
    background: var(--color-surface-1);
  }

  &[data-active] {
    background: var(--bg-highlight);
    color: var(--color-highlight);
  }

  &:focus {
    outline: 1px solid var(--color-highlight);
    outline-offset: 2px;
  }

  &[data-disabled] {
    box-shadow: none;
    color: var(--color-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }
}

@keyframes dropdown-content-show {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes dropdown-content-hide {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@media (prefers-reduced-motion: reduce) {
  .Trigger,
  .Icon,
  .Content,
  .Item {
    transition: none;
    animation: none;
  }
}
