API_PORT=6660
WEB_PORT=6661
ADMIN_PORT=6662
STORYBOOK_PORT=6663

DATABASE_URL=postgres://isis:isis@postgres:5432/isis?sslmode=disable
CORS_ORIGIN=http://localhost:6661,http://localhost:6662
# Generate secret using `openssl rand -hex 32`
JWT_SECRET=f2229b66a072538005f22e25470dcaec613dae8f95b7183a7d9b36e0c1401fdc

HETZNER_OBJECT_STORAGE_ACCESS_KEY=
HETZNER_OBJECT_STORAGE_SECRET_KEY=
HETZNER_OBJECT_STORAGE_BUCKET=
HETZNER_OBJECT_STORAGE_REGION=fsn1
HETZNER_OBJECT_STORAGE_ENDPOINT=fsn1.your-objectstorage.com
HETZNER_OBJECT_STORAGE_PREFIX=media

VITE_API_URL=http://localhost:6660
