@use "sass:map";

$breakpoint-s: 450px;
$breakpoint-m: 800px;
$width-narrow: 500px;
$width-wide: 800px;
// Min. offset from the content to the edge of the viewport
$gutter-content: 20px;

@mixin breakpoint($size) {
  @if $size == "s" {
    @media screen and (max-width: $breakpoint-s) {
      @content;
    }
  } @else if $size == "m" {
    @media screen and (max-width: $breakpoint-m) {
      @content;
    }
  } @else if $size == "l" {
    @media screen and (min-width: $breakpoint-m + 1) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint #{size}";
  }
}

@mixin fit-content($width) {
  $content-width: map.get(
    (
      narrow: $width-narrow,
      wide: $width-wide,
    ),
    $width
  );

  @if $content-width == null {
    @error "Invalid content width #{$width}";
  }

  @media screen and (max-width: $content-width + ($gutter-content * 2)) {
    @content;
  }
}
