@use "../../styles/mixins/color" as color;

:root {
  --badge-size: 1em;
  --badge-padding: var(--space);
  --badge-radius: var(--radius);
  --badge-color: currentColor;
  --badge-bg: transparent;
  --badge-status-size: 6px;
}

.Badge {
  display: inline-flex;
  align-items: center;

  padding: calc(var(--badge-padding) * 0.75) var(--badge-padding);
  font-size: var(--badge-size);
  line-height: var(--badge-size);
  border-radius: var(--badge-radius);
  color: var(--badge-color);
  background-color: var(--badge-bg);
  font-family: var(--font-body);
  font-weight: 500;
  font-family: var(--font-sans-serif);
}

/// active state

.Badge[data-active] {
  outline: 1.5px solid currentColor;
}

/// colors

@each $name, $_ in color.$colors-codes {
  .Badge[data-color="#{$name}"] {
    --badge-color: var(#{"--color-" + $name});
    --badge-bg: var(#{"--bg-" + $name});
  }
}

/// sizes

.Badge[data-size="s"] {
  --badge-size: calc(var(--font-size-caption) * 0.85);
  --badge-padding: calc(var(--space) / 1.5);
}

.Badge[data-size="m"] {
  --badge-size: var(--font-size-caption);
  --badge-padding: var(--space);
}

.Badge[data-size="l"] {
  --badge-size: calc(var(--font-size-caption) * 1.25);
  --badge-padding: calc(var(--space) * 1.25);
}

/// statuses

.Badge[data-status="empty"],
.Badge[data-status="in-progress"],
.Badge[data-status="completed"] {
  position: relative;
  padding-left: calc(var(--space) * 2 + var(--badge-status-size));

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: var(--space);
    top: 50%;
    margin-top: calc(var(--badge-status-size) / -2);
    margin-right: var(--space);
    width: var(--badge-status-size);
    height: var(--badge-status-size);
    border-radius: 50%;
  }
}

.Badge[data-status="empty"] {
  &::before {
    border: 1px solid currentColor;
    background: transparent;
  }
}

.Badge[data-status="in-progress"] {
  &::before {
    border: 1px solid currentColor;
    background: linear-gradient(to right, currentColor 50%, transparent 50%);
  }
}

.Badge[data-status="completed"] {
  &::before {
    background: currentColor;
  }
}
