@use "../../styles/mixins/color" as color;

.Badge {
  display: inline-flex;
  align-items: center;
  // justify-self: baseline;
  // align-self: baseline;

  padding: calc(var(--badge-space) * 0.75) var(--badge-space);
  font-size: var(--badge-size);
  line-height: var(--badge-size);
  border-radius: var(--radius);
  font-family: var(--font-body);
  font-weight: 500;
  // font-family: var(--font-monospace);
}

@each $name, $_ in color.$colors-codes {
  .Badge[data-color="#{$name}"] {
    color: var(#{"--color-" + $name});
    background-color: var(#{"--bg-" + $name});
  }
}

.Badge[data-size="s"] {
  --badge-size: calc(var(--font-size-caption) * 0.85);
  --badge-space: calc(var(--space) / 1.5);
}

.Badge[data-size="m"] {
  --badge-size: var(--font-size-caption);
  --badge-space: var(--space);
}

.Badge[data-size="l"] {
  --badge-size: calc(var(--font-size-caption) * 1.25);
  --badge-space: calc(var(--space) * 1.25);
}

.Badge[data-status="empty"],
.Badge[data-status="in-progress"],
.Badge[data-status="completed"] {
  --status-size: 6px;

  position: relative;
  padding-left: calc(var(--space) * 2 + var(--status-size));

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: var(--space);
    top: 50%;
    margin-top: -3px;
    margin-right: var(--space);
    width: var(--status-size);
    height: var(--status-size);
    border-radius: 50%;
  }
}

.Badge[data-status="empty"] {
  &::before {
    border: 1px solid currentColor;
    background: transparent;
  }
}

.Badge[data-status="in-progress"] {
  &::before {
    border: 1px solid currentColor;
    background: linear-gradient(to right, currentColor 50%, transparent 50%);
  }
}

.Badge[data-status="completed"] {
  &::before {
    background: currentColor;
  }
}

.Badge[data-active] {
  outline: 1.5px solid currentColor;
}
