.Divider {
  border-radius: var(--radius-divider);
  background: var(--color-divider);
  transition: background-color 120ms ease-out;
}

.Divider[data-direction="y"] {
  height: stretch;
  width: var(--size-divider);
  margin: 0;
}

.Divider[data-direction="x"] {
  width: auto;
  flex: 1;
  margin: 0;
}
