@use "../../styles/mixins/color" as color;

.icon {
  --icon-color: currentColor;
  --icon-background: var(--color-surface);

  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  line-height: 0;
  font-size: var(--icon-size);
  padding: 0;

  background: transparent;
  border: none;
  color: var(--icon-color);

  width: var(--icon-size);
  height: 0;
  box-sizing: border-box;

  &:focus,
  &:active {
    outline: none;
  }

  & > :not(.badge) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.badge {
  position: absolute;
  left: calc(50% + var(--icon-size) / 2);
  top: calc(50% + var(--icon-size) / 2);
  transform: translate(-50%, -50%);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--badge-size);
  min-width: var(--badge-size);
  width: auto;
  border-radius: calc(var(--badge-size) / 2);
  background: var(--icon-color);
  color: var(--icon-background);
  font-size: calc(var(--badge-size) * 0.85);
  line-height: 1;
}

.clickable {
  cursor: pointer;
}

@each $name, $_ in color.$colors-codes {
  .#{"color-" + $name} {
    --icon-color: var(#{"--color-" + $name});
    --icon-background: var(#{"--bg-" + $name});
  }
}

.color-muted {
  --icon-color: var(--color-muted);
  --icon-background: var(--color-surface);
}

.disabled {
  --icon-color: var(--color-disabled);
  --icon-background: var(--color-surface);
}

.size-xs {
  --icon-size: 14px;
  --badge-size: 10px;
}

.size-s {
  --icon-size: 18px;
  --badge-size: 12px;
}

.size-m {
  --icon-size: 24px;
  --badge-size: 14px;
}

.size-l {
  --icon-size: 32px;
  --badge-size: 16px;
}

.size-xl {
  --icon-size: 64px;
  --badge-size: 24px;
}

button.icon {
  border-radius: 50%;
  padding: var(--space);
  box-sizing: content-box;
  transition: background-color 120ms ease-out;

  &:not(:disabled):hover {
    background-color: #00000010;
  }
}
