@use "../../styles/mixins/color" as color;

.Text {
  white-space: pre-wrap;
  display: flex;
}

/// colors

@each $name, $_ in color.$colors-codes {
  .Text[data-color="#{$name}"],
  .Span[data-color="#{$name}"] {
    @if ($name == "default") {
      color: currentColor;
    } @else {
      color: var(#{"--color-" + $name});
    }
  }

  .Text[data-background="#{$name}"],
  .Span[data-background="#{$name}"] {
    color: var(#{"--color-" + $name});
    background-color: var(#{"--bg-" + $name});
  }
}

.Text[data-color="link"],
.Span[data-color="link"] {
  color: var(--color-link);
}

.Text[data-color="currentColor"],
.Span[data-color="currentColor"] {
  color: currentColor;
}

// sizes

.Text[data-size="caption"],
.Span[data-size="caption"] {
  font-size: var(--font-size-caption);
  line-height: calc(var(--line-height) * 0.75);
}

.Text[data-size="body"],
.Span[data-size="body"] {
  font-size: var(--font-size);
  // line-height: calc(var(--line-height) * 0.75);
}

.Text[data-size="h1"],
.Span[data-size="h1"] {
  font-size: 2.5em;
}

.Text[data-size="h2"],
.Span[data-size="h2"] {
  font-size: 2em;
}

.Text[data-size="h3"],
.Span[data-size="h3"] {
  font-size: 1.65em;
}

.Text[data-size="h4"],
.Span[data-size="h4"] {
  font-size: 1.25em;
}

.Text[data-size="h5"],
.span[data-size="h5"] {
  font-size: 1em;
}

/// fonts

.Text[data-font="body"] {
  font-family: var(--font-body);
}

.Text[data-font="heading"] {
  font-family: var(--font-heading);
}

.Text[data-font="subheading"] {
  font-family: var(--font-subheading);
}

.Text[data-font="monospace"] {
  font-family: var(--font-monospace);
}

.Text[data-font="serif"] {
  font-family: var(--font-serif);
}

.Text[data-font="sans-serif"] {
  font-family: var(--font-sans-serif);
}

// indents

@for $i from 1 through 4 {
  .Text[data-indent="#{$i}"] {
    padding-left: calc(var(--space) * $i);
  }
}

/// text formatting

.Span[data-italic] {
  font-style: italic;
}

.Span[data-bold] {
  font-weight: bold;
}

.Span[data-underline] {
  text-decoration: underline;
}

.Span[data-strikethrough] {
  text-decoration: line-through;
}

.Span[data-underline][data-strikethrough] {
  text-decoration: underline line-through;
}

.Span[data-code] {
  color: var(--color-primary);
  background: var(--bg-primary);
  font-family: var(--font-monospace);
  font-size: 0.95em;
}

.Span[data-redacted] {
  line-break: anywhere;
  background-color: currentColor;
}

.Text[data-align="center"] {
  text-align: center;
  justify-content: center;
}

/// alignments

.Text[data-align="left"] {
  text-align: left;
  justify-content: start;
}

.Text[data-align="right"] {
  text-align: right;
  justify-content: end;
}

.Text[data-align="end"] {
  text-align: end;
}
