API_PORT=6660
DATABASE_URL=postgres://isis:isis@localhost:5432/isis?sslmode=disable
CORS_ORIGIN=http://localhost:6661,http://localhost:6662
# Generate secret using `openssl rand -hex 32`
JWT_SECRET=f2229b66a072538005f22e25470dcaec613dae8f95b7183a7d9b36e0c1401fdc
