.MediaChildren {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space);
  height: fit-content;
}

.MediaChildren[data-error],
.MediaChildren[data-loading],
.MediaChildren[data-empty] {
  justify-content: center;
  align-items: center;
  height: 100%;
}
