.MediaTree {
  [data-resizable-handle] {
    opacity: 0;
    margin-right: calc(-1 * var(--space));
    transition: opacity 150ms linear;
  }
}

.MediaTree:has([data-resizable-handle]:hover) {
  [data-resizable-handle] {
    opacity: 1;
  }
}
